{% extends 'calculatorTemplate.html' %}

{% block points %}

<form action="" id="points-form" method="POST">
    {% csrf_token %}

    <div class="form-group" id="points">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-1 offset-11">
                <button class="btn btn-success btn-block" type="button" id="add-button" onclick="addPoint()">+</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="container my-5">
            <div class="row">
                <label for="request_id" class="col-3 offset-2 col-form-label"><b>REQUEST_ID (optional):</b></label>
                <div class="col-5">
                    <input type="text" class="form-control" name="request_id" maxlength="100">
                </div>
            </div>
            <div class="row my-3">
                <button type="submit" class="col-4 offset-4 form-control btn btn-primary btn-block border-secondary"
                    name="calculateDistance"><h5>Calculate distance</h5></button>
            </div>
        </div>
    </div>

    <div clas="container my-5">
        <div class="row">
            <div id="results" class="col-2 offset-5 p-4 text-center">
                <h5><span id="total-distance"></span></h5>
                <h5><span id="calculation-time"></span></h5>
            </div>
        </div>
    </div>

</form>

{% endblock %}