{% extends 'baseTemplate.html' %}

{% block content %}

{% with ''|center:numberOfPoints as range %}
{% for _ in range %}

<p id="point{{ forloop.counter }}">
    {% csrf_token %}
    {{ pointForm }}
</p>

{% endfor %}
{% endwith %}
<p>
    <button onclick="requestButtonClicked('{{ numberOfPoints }}')">Request</button>
</p>

{% if not totalDistance == None %}
<p>Distance calculated: {{ totalDistance }} [m]</p>
{% endif %}
{% if not calculationTime == None %}
<p>Calculation time: {{ calculationTime }} [s]</p>
{% endif %}

{% endblock %}