{% extends 'baseTemplate.html' %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}

    {% with ''|center:numberOfPoints as range %}
    {% for _ in range %}

    <p class="noArrows">
        <b>Point {{ forloop.counter }}:</b>&emsp;
        Latitude: <input name="latitude{{ forloop.counter }}" , type="number" , label="Latitude" , min="-90" , max="90"
            , value="0.0" , step=".0000001" required>&emsp;
        Longitude: <input name="longitude{{ forloop.counter }}" , type="number" , label="Longitude" , min="-180" ,
            max="180" , value="0.0" , step=".0000001" required>
    </p>

    {% endfor %}
    {% endwith %}

    <p>
        REQUEST_ID (optional): <input name="request_id" , type="text" , maxlength="100">&emsp;
        <button type="submit" name="calculateDistance">Calculate</button>
    </p>

</form>

{% endblock %}